{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p>Ole yhteydessä!</p>

		<h3 class="f4 b lh-title mb2">Minua kiinnostaisi...</h3>
		<p>Alla olevan lomakkeen avulla voit ottaa yhteyttä meihin</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Sijainti</h4>
				<p>Helsinki, Suomi</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
