{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Arvoa datasta" "subtitle" "Tietojohtaminen osaksi arkea") }}

{{ partial "short-text" (dict "heading" "Miksi TP-Group?" "text" "Palvelutarjontamme datan ympärillä osuu jokaisen nykypäiväisen organisaation toiminnan ytimeen. Tuemme ja kehitämme - yhdessä asiakkaidemme kanssa.")}}

{{ partial "2-up" (dict "heading" "Mitä tarjoamme?" "description" "Numerot tiedoksi." "svg1" "img/illustrations/coffee.svg" "text1" "Teksti1" "svg2" "/img/illustrations/coffee-gear.svg" "text2" "Teksti 2" "buttonText" "Tutustu tarjontaamme laajemmin" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Demo" "text" "Tutustu myös demoihin." "buttonText" "Lue lisää" "buttonLink" "/demo") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
